td {
    border-spacing:10px;
    text-align:center;

}
ul{
    margin:0;
    padding:0;
    list-style-type:none;
    text-align:right;
}
li {
    display:inline;
    padding:1em;
    background-color:blue;
}
h1 {
    color: seagreen;
    text-align:center;
    padding:200px;
    background-image:url("math.png");
}
h2{
    color:seagreen;
}
table{
    margin-left:auto;
    margin-right:auto;
}
body{
    background-color:#252B28;

}

.header{
    padding:0em 10em 0em 10em;
    background-color:green;
}

#center {
    margin-left:auto; 
    margin-right:auto;
    border-spacing:10px;
  }

  #item {
    margin-left:auto; 
    margin-right:auto;
    padding:1em;
  }
  #time{
      padding:1em;
      
  }

 p {
     text-align:center;
     color:seagreen;
 }
 a {
    text-align:center;
     color:seagreen; 
 }
 #pSummary{
     text-align:left;
     font-size: 20px;
     color:seagreen;
 }

 .button{
     text-align:right;
     padding:3em;
 }

#id {
    border:solid 1px black;
    border-spacing:10px;
    padding: 10em 6em 10em 6em;
    text-align:center;
}

.topic{
padding:1em;
text-align:left;
font-size:30px;
background-color:#252B28;
;
}